* {
  box-sizing: border-box;
}

.flex-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.item {
  flex-basis: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 5px solid darkred;
  margin: 10px;
}
